pydash==4.5.0
pymysql==0.8.0
python-dotenv==0.8.1
progressbar2==3.38.0
nltk==3.3
pychalk==2.0.0
pytorch==0.4.0
torchvision==0.2.1
toolz==0.9.0
ipdb==0.11
pyrsistent==0.14.4
datmo==0.0.21
pychalk==2.0.0
